/* Base.css contains unclassed HTML elements */

body {
  @apply font-sans leading-normal antialiased;
  color: var(--textColor);
}

a:not([class]) {
  @apply underline;
  color: var(--brandColor);

  &:hover {
    @apply no-underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  &:not([class]) {
    @apply mb-4;
    @apply text-base font-light text-gray-800;
  }
}

p {
  @apply leading-normal;
}

article p {
  @apply mb-4;
}


