@import "tailwindcss/base";
@import "tailwindcss/components";

@import "settings";

* {
  @apply font-sans;
}

img {
  @apply max-w-full;
}

body {
  @apply w-full;
  @apply h-full;
  @apply leading-normal;
}

table td {
  @apply align-top;
}

/* -------------------------------------
    BODY & CONTAINER
------------------------------------- */
body {
  @apply p-0;
  @apply bg-gray-100;
  @apply text-gray-800;

  @screen sm {
    @apply p-4;
  }
}

.body-wrap {
  @apply w-full;
  @apply bg-gray-100;
}

.container {
  display: block !important;
  max-width: 600px !important;
  margin: 0 auto !important;
  /* makes it centered */
  clear: both !important;
}

.content {
  @apply block max-w-xl mx-auto p-4
}

/* -------------------------------------
    HEADER, FOOTER, MAIN
------------------------------------- */
.main {
  @apply bg-white;
  @apply rounded;
}

.content-wrap {
  @apply p-4;
}

.content-block {
  @apply pt-0 px-0 pb-4;
}

.footer {
  @apply w-full p-4;
  @apply text-gray-500;
  clear: both;
}

.footer p, .footer a, .footer td {
  @apply text-sm text-gray-500;
}

/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1, h2, h3 {
  @apply m-0;
  @apply text-black font-black leading-tight;
}

h1 {
  @apply text-2xl;

  @screen sm {
    @apply text-3xl;
  }
}

h2 {
  @apply text-xl;

  @screen sm {
    @apply text-2xl;
  }
}

h3 {
  @apply text-lg;

  @screen sm {
    @apply text-xl;
  }
}

h4 {
  @apply text-base;

  @screen sm {
    @apply text-lg;
  }
}

p, ul, ol {
  @apply mb-4;
  @apply font-normal;
}

p li, ul li, ol li {
  @apply ml-2;
}

/* -------------------------------------
    LINKS & BUTTONS
------------------------------------- */
a {
  @apply text-blue-500 underline;
}

.btn-primary {
  @apply inline-block;
  @apply leading-loose text-white font-bold text-center no-underline;
  @apply bg-blue-500;
  @apply border border border-t-4 border-r-8 border-b-4 border-l-8 border-blue-500 rounded;
  @apply cursor-pointer;
}

