<div class="flex justify-center items-center mt-4 text-center">
  <%- if controller_name != "sessions" %>
    <span class="text-gray-600 mr-2">Already have any account?</span> <%= link_to "Log in", new_session_path(resource_name) %>
  <% end -%>

  <%- if devise_mapping.confirmable? && controller_name != "confirmations" %>
    <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "ml-2" %>
  <% end -%>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != "unlocks" %>
    <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: "ml-2" %>
  <% end -%>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %>
    <% end -%>
  <% end -%>
</div>

