<% content_for :page_title, "About" %>
<% content_for :page_description, "" %>

<div class="mt-16 max-w-5xl mx-auto px-2">
  <h1 class="text-3xl">About</h1>

  <p class="mt-4 text-lg text-gray-700">Tell a little story about how your product came to be, a vision, ideas and something more about you.</p>

  <p class="mt-8">And let's continue the story here…</p>
</div>


