<% content_for :page_title, "Contact" %>
<% content_for :page_description, "" %>

<div class="mt-16 max-w-5xl mx-auto px-2">
  <h1 class="mt-4 text-3xl">Contact</h1>

  <p class="mt-8 text-lg text-gray-700">What's the easiest and quickest way for leads/customers to contact you?</p>
</div>


