<div class="hero bg-skewed bg-skewed--red-500">
  <header>
    <h1 class="hero__heading">Flying start for makers </h1>

    <h2 class="hero__subheading">Rails SaaS starter kit to focus on your core product </h2>
  </header>

  <%= link_to 'Start your Free Trial', signup_path, class: "btn btn--primary mt-24 bg-white text-red-500 hover:bg-red-200 hover:text-red-600" %>
</div>

<div class="mt-32 px-2">
  <div class="max-w-5xl mx-auto text-center">
    <p class="text-sm leading-none uppercase tracking-wider font-bold text-red-500">The benefits</p>
    <h4 class="mt-2 text-3xl leading-tight font-semibold">
      From UI components to subscriptions:
      <span class='sm:block text-red-600'>how did I do all this before?</span>
    </h4>

    <div class="flex flex-col sm:flex-row mt-16">
      <div class="w-full sm:w-1/3 mb-8">
        <h3 class="text-sm font-bold leading-tight uppercase tracking-wider text-gray-600">
          Benefit 1
        </h3>

        <p class="mt-2 text-lg text-gray-700">
        Occupy subway tile normcore organic tumeric typewriter gentrify roof party glossier hashtag whatever ugh.
        </p>
      </div>

      <div class="w-full sm:w-1/3 sm:mx-12 mb-8">
        <h3 class="text-sm font-bold leading-tight uppercase tracking-wider text-gray-600">
          Benefit 2
        </h3>

        <p class="mt-2 text-lg text-gray-700">
          Plaid pitchfork put a bird on it blog shoreditch literally af letterpress hella paleo post-ironic butcher normcore narwhal slow-carb.
        </p>
      </div>

      <div class="w-full sm:w-1/3 mb-8">
        <h3 class="text-sm font-bold leading-tight uppercase tracking-wider text-gray-600">
          Benefit 3
        </h3>

        <p class="mt-2 text-lg text-gray-700">
          Pour-over cray kale chips scenester knausgaard glossier.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="mt-20 pt-12 pb-32 bg-skewed bg-skewed--gray-200 sm:mt-48 sm:pt-32 sm:pb-48">
  <div class="flex flex-col max-w-5xl mx-auto px-2 sm:flex-row">
    <header class="w-full sm:pr-12 sm:w-1/2">
      <h3 class="text-3xl leading-tight font-bold text-gray-800 sm:text-4xl">
        Catchy header <span class="text-indigo-600 sm:block">for this feature</span>
      </h3>

      <p class="mt-2 text-xl text-gray-700">
        Wayfarers fashion axe street art, gastropub tofu af pok pok portland semiotics 90's pinterest butcher.
      </p>
    </header>

    <div class="skewed-component--left relative w-full mt-2 bg-white rounded shadow-2xl sm:w-1/2">
      <svg width="100%" height="260" xmlns="http://www.w3.org/2000/svg"> <g> <mask id="a" maskUnits="userSpaceOnUse" x="15" y="10" width="12" height="12"> <path d="M21.714 10.787a5.862 5.862 0 1 0 0 11.723 5.862 5.862 0 0 0 0-11.723z" fill="#979797"/> </mask> <g mask="url(#a)"> <path fill="#F56565" d="M13.507 8.442h16.884v16.884H13.507z"/> </g> <mask id="b" maskUnits="userSpaceOnUse" x="36" y="10" width="12" height="12"> <path d="M42.82 10.787a5.861 5.861 0 0 0-4.145 10.008 5.862 5.862 0 1 0 4.145-10.008z" fill="#979797"/> </mask> <g mask="url(#b)"> <path fill="#F6AD55" d="M34.612 8.442h16.884v16.884H34.612z"/> </g> <mask id="c" maskUnits="userSpaceOnUse" x="58" y="10" width="12" height="12"> <path d="M63.925 10.787a5.861 5.861 0 0 0-4.145 10.008 5.862 5.862 0 1 0 4.145-10.008z" fill="#979797"/> </mask> <g mask="url(#c)"> <path fill="#68D391" d="M55.718 8.442h16.884v16.884H55.718z"/> </g> </g> <rect x="0" y="33.769" width="100%" height="224" fill="#edf2f7" style="stroke: #ffffff; stroke-width: 8;"/> </svg>
    </div>
  </div>
</div>

<div class="bg-skewed bg-skewed--gray-800 pt-24 pb-32 sm:pt-32 sm:pb-40">
  <div class="flex flex-col max-w-5xl mx-auto px-2 sm:flex-row-reverse">
    <header class="w-full sm:pl-20 sm:w-1/2">
      <h3 class="text-3xl leading-tight font-bold text-indigo-100 sm:text-4xl">
        How do they <span class="sm:block text-indigo-200">benefit from this?</span>
      </h3>

      <p class="mt-2 text-xl text-indigo-100">
        Celiac cred jean shorts, mlkshk tbh post-ironic franzen snackwave paleo farm-to-table woke hexagon mumblecore.
      </p>
    </header>

    <div class="skewed-component--right relative w-full mt-2 bg-white rounded shadow-2xl sm:w-1/2">
      <svg width="100%" height="260" xmlns="http://www.w3.org/2000/svg"> <g> <mask id="a" maskUnits="userSpaceOnUse" x="15" y="10" width="12" height="12"> <path d="M21.714 10.787a5.862 5.862 0 1 0 0 11.723 5.862 5.862 0 0 0 0-11.723z" fill="#979797"/> </mask> <g mask="url(#a)"> <path fill="#F56565" d="M13.507 8.442h16.884v16.884H13.507z"/> </g> <mask id="b" maskUnits="userSpaceOnUse" x="36" y="10" width="12" height="12"> <path d="M42.82 10.787a5.861 5.861 0 0 0-4.145 10.008 5.862 5.862 0 1 0 4.145-10.008z" fill="#979797"/> </mask> <g mask="url(#b)"> <path fill="#F6AD55" d="M34.612 8.442h16.884v16.884H34.612z"/> </g> <mask id="c" maskUnits="userSpaceOnUse" x="58" y="10" width="12" height="12"> <path d="M63.925 10.787a5.861 5.861 0 0 0-4.145 10.008 5.862 5.862 0 1 0 4.145-10.008z" fill="#979797"/> </mask> <g mask="url(#c)"> <path fill="#68D391" d="M55.718 8.442h16.884v16.884H55.718z"/> </g> </g> <rect x="0" y="33.769" width="100%" height="224" fill="#edf2f7" style="stroke: #ffffff; stroke-width: 8;"/> </svg>
    </div>
  </div>
</div>

<div class="mt-20 sm:mt-32">
  <div class="max-w-5xl mx-auto text-center">
    <p class="text-sm leading-none uppercase tracking-wider font-bold text-red-500">Pricing &amp; Plans</p>
    <h4 class="mt-2 text-3xl leading-tight font-semibold sm:text-4xl">
      Simple and affordable plans for everyone
    </h4>

    <div class="flex flex-col sm:flex-row mt-16">
      <div class="w-full sm:w-1/3">
        <h3 class="font-bold leading-tight tracking-wide text-red-500">
          Starter
        </h3>
        <p class="flex justify-center items-center text-4xl leading-tight font-bold text-gray-800">
          <span class="mr-2 text-lg font-semibold text-gray-700">
            $
          </span>
          9
          <span class="ml-2 text-lg font-semibold text-gray-600"> month</span>
        </p>

        <p class="mt-1 text-lg text-gray-700">
          Basic features
        </p>
      </div>

      <div class="w-full my-8 sm:w-1/3 sm:mx-12 sm:my-0">
        <h3 class="font-bold leading-tight tracking-wide text-red-500">
          Professional
        </h3>

        <p class="flex justify-center items-center text-4xl leading-tight font-bold text-gray-800">
          <span class="mr-2 text-lg font-semibold text-gray-700">
            $
          </span>
          29
          <span class="ml-2 text-lg font-semibold text-gray-600"> month</span>
        </p>

        <p class="mt-1 text-lg text-gray-700">
          Basic features + Pro features
        </p>
      </div>

      <div class="w-full sm:w-1/3">
        <h3 class="font-bold leading-tight tracking-wide text-red-500">
          Expert
        </h3>

        <p class="flex justify-center items-center text-4xl leading-tight font-bold text-gray-800">
          <span class="mr-2 text-lg font-semibold text-gray-700">
            $
          </span>
          79
          <span class="ml-2 text-lg font-semibold text-gray-600"> month</span>
        </p>

        <p class="mt-1 text-lg text-gray-700">
          Basic features + Pro features + Expert features
        </p>
      </div>
    </div>
  </div>
</div>

<div class="mt-32 pt-12 pb-20 bg-skewed bg-skewed--red-500 sm:mt-48 sm:pt-24 sm:pb-32">
  <div class="max-w-5xl mx-auto text-center">
    <h2 class="text-3xl leading-tight font-bold text-white sm:text-5xl">Get started <span class="inline-block heartbeat">today</span></h2>
    <p class="mt-2 text-xl leading-tight text-red-100">Over 1,234 awesome people went before you.</p>

    <%= link_to "Start your Free Trial", signup_path, class: "btn btn--primary mt-12 bg-white text-red-500 hover:bg-red-200 hover:text-red-600" %>
  </div>
</div>

