<p>Your upcoming subscription renewal.</p>

<p>This is just a friendly reminder that your <%= AppConfig.billing["business_name"] %> subscription will renew automatically on <%= @subscription %>.</p>

<p>You may manage your subscription via your account. If you have any questions, please hit reply and let us know.</p>

<p>&mdash; The <%= AppConfig.billing["business_name"] %> Team<br/>

