.accordion-item {
  @apply p-4;
  @apply border-b border-gray-500;

  &:last-child {
    @apply border-b-0;
  }
}

.accordion-item__header {
  @apply flex justify-between items-center;
  @apply text-base font-bold text-black;
  @apply cursor-pointer;
}

.accordion-item__icon {
  @apply inline-flex;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in;
}

.accordion-item__icon--toggled {
  transform: rotate(0);
  transition: transform 0.2s ease-out;
}

.accordion-item__content {
  @apply hidden pr-8;
}

.accordion-item__content--active {
  @apply block;
}

