.modal-wrapper {
  @apply fixed inset-0;
  @apply w-full h-full;
  @apply flex flex-col items-center justify-center;
  background-color: #fffe; /* [1] */
  @apply z-10;
  animation-name: fadeIn;
  animation-fill-mode: both;
  animation-duration: .2s;
}

.modal {
  @apply flex flex-col relative w-full max-w-xl;
  @apply bg-white shadow-lg;
  animation-name: slideUp;
  animation-fill-mode: both;
  animation-duration: .5s;

  @screen sm {
    @apply flex-row;
  }
}

.modal__sidebar {
  @apply w-full p-4;
  @apply bg-gray-200;
  @apply text-gray-200;

  @screen sm {
    @apply w-1/3;
  }
}

.modal__content {
  @apply relative flex flex-col justify-center w-full p-4 pr-8;

  @screen sm {
    @apply w-2/3
  }
}

.modal__header {
  @apply mb-1 pr-4;
  @apply text-xl font-medium leading-tight text-white;
}

.modal__close {
  @apply absolute top-0 right-0;
  @apply inline-block w-8 h-8;
  @apply text-gray-700;
  @apply fill-current;

  &:hover {
    @apply text-gray-700;
  }
}

/* [1] tailwind does not have transparent colors out of the box */

