      <div class="content-container">
  <header>
    <h1 class="content-title">
      Add a new <%= singular_name %>
    </h1>
  </header>

  <%%= render "form", <%= singular_name %>: @<%= singular_name %> %>
</div>

