<% content_for :page_title, "404. Could not find that page." %>

<%= link_to root_url, class: "absolute top-0 p-2 flex flex-col items-center justify-center h-screen w-full bg-gray-200 text-center" do %>
  <h1 class="mb-2 text-4xl font-bold leading-tight text-gray-700">Could not find that page</h1>
  <p class="mb-4 text-2xl leading-tight text-gray-600">Looks like you stumbled upon something that is not here.</p>

  <%= tag.span "Back to the homepage", class: "text-blue-500 underline" %>
<% end %>


